FLASK_APP=app.py
FLASK_ENV=production
FLASK_DEBUG=false

FLASK_SECRET_KEY=
DATABASE_URL=

ADMIN_DEFAULT_PASSWORD=

GONZALES_API_KEY=

CLOUD_NAME=
API_KEY=
API_SECRET=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

API_COMPARE_URL=

PROXY99_SECDD_AUTHENTICATION=
PROXY99_WSGSIG=
PROXY99_UID=
PROXY99_TICKET=
